@model UrlShortener.Models.BlogPostModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>BlogPostModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">title </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="ImgSrc" class="control-label">image src</label>
                <input asp-for="ImgSrc" class="form-control" />
                <span asp-validation-for="ImgSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">content</label>
                <input asp-for="Content" class="form-control text-area" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
