html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hover-overlay:hover {
    background-color: white;
    text-decoration-thickness: 5px;
    border-radius: 10px;
}